@using Microsoft.AspNetCore.Components
@using System.IO.Ports
@using Integrasi_HTML.Data
@inject NavigationManager navman
@inject EDC edc
<div class="col-md-8" style="margin-top: 15%; text-align: center;">
    <img src="../../assets/img/icn-gagal.png" style="width: 15%;"><br><br>
    <p class="teks-desc6">Histori Transaksi Anda <b style="color: rgb(211, 42, 0);">Tidak Berhasil</b> dicetak</p>
    <p class="teks-desc6">"Harap menghubungi <b>customer service</b> untuk info lebih lanjut"</p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        edc.Clear();
        edc.serialPort = new SerialPort();
        edc.serialPort.PortName = "COM6";
        edc.serialPort.DataReceived += new SerialDataReceivedEventHandler(edc.port_DataReceived);
        await Task.Run(() => edc.SendCommand(edc.serialPort, "13"));
        do
        {
            await Task.Delay(500);
            if (edc.statusCode == "00")
            {
                break;
            }
            else if (edc.statusCode == "55" || edc.statusCode == "TO")
            {
                break;
            }
        } while (edc.statusCode == string.Empty);
        await Task.Delay(15000);
        navman.NavigateTo("/");
    }
}
